<div id="page-1">
  <a id="home"></a>
    <div class="container-fluid text-center">
      <div class="row">
          <div class="home-content">
            <h1>Peter Han's Portfolio</h1>
            <h4><i>Reverse engineering - Freecodecamp's portfolio project</i></h4>
            <br>
            <h4><u>Contacts:</u></h4>
            <h4><a href="https://www.linkedin.com/in/peter-han-a76a13b7" target="_blank">Linkedin</a></h4>
            <h4><a href="https://github.com/peterhan92" target="_blank">Github</a></h4>
            <h4><a href="http://www.freecodecamp.com/peterhan92" target="_blank">Freecodecamp</a></h4>  
          </div>
          </div>
      </div>
</div>

<div id="page-2">
  <a id="about"></a>
  <div class="about">
    <h1>Peter Han</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h3>
  </div>
</div>

<div id="page-3">
  <a id="projects"></a>
  <div class="projects text-center">
    <h1>My Projects</h1>
      <a href="https://high-5.herokuapp.com/" target="_blank">
        <div id="p1">
          <h2>Hi-five<h2>
            <img id="p1-img" src="https://image.spreadshirtmedia.com/image-server/v1/designs/12910541,width=178,height=178,version=1425081650/High-Five-Hand-Sign-High-5-Hand-Gesture-Sign-Langu.png" alt="high five hand" />
        </div>
      </a>
      <a href="http://morningtext.herokuapp.com/" target="_blank">
        <div id="p2">
          <h2>Morning Text</h2>
            <img id="p2-img" src="http://cdn.cultofmac.com/wp-content/uploads/2012/08/iMessage-Icon.jpg" alt="imessage icon" />
        </div>
      </a>
      <a href="https://johda.herokuapp.com/" target="_blank">
        <div id="p3">
          <h2>Johda</h2>
            <img id="p3-img" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRXo4Rr5Y9pL_N2H8_TYspbMF9am3orwhNRQRrdCWhLuTtoEbFg" alt="delivery image" /></h2>
         </div>
       </a>
    </div>
</div>